<!DOCTYPE html>
<html>
<body>

<h> <b> RESULTS </b> </h>

<br>


<p> <%= @step_zero %> </p>

<p> 
    <%= @step_one %>
    <%= @step_two %>
    <%= @step_three %>
    <%= @step_four %>
    <%= @step_five %> 
</p>

<p> <%= @step_last %> </p>

<p> <b> <%= @message %> </b>  </p>
<br>

  <%= link_to "Play Again", root_path %>
</body>
</html>
