<!DOCTYPE html>
<html>
<head>
  <title>Antioch Goldeneye Resort</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <ul>
    <li><a href="">Home</a></li>
    <li><a href="#hunts">Guided Hunts</a></li>
    <li><a href="#resort">Summer Resort</a></li>
    <li><a href="#user">My Reservations</a></li>
    <% if user_signed_in? %>
      <ul style="float:right;list-style-type:none;">
      <li> Signed in as <%= current_user.name %> </li>
      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      </ul>
    <% else %>
      <ul style="float:right;list-style-type:none;"> 
      <li><%= link_to "Sign up", new_user_registration_path %> </li>
      <li><%= link_to "Sign in", new_user_session_path %> </li>
      </ul>
    <% end %>

  </ul>
  <br>
  <p class="notice"><%= notice %></p>
</head>
<body>

<%= yield %>

</body>
</html>
