<!DOCTYPE html>
<html>
<body>

<h1> <%= @topic.title %> </h1>
<h3> <%= @topic.description %> </h3>


<table>
	<thead>
	<tr>
		<th> URL </th>
		<th> Last changed <th>
	</tr>
	</thead>
	<tbody>
	<% @topic.references.each do |cur| %>
	<tr>
	<% if !cur.new_record? %>
		<td> <a href=<%=cur.URL %>> <%= cur.URL %></td>
		<td> <%= cur.updated_at.strftime("%r   %e/%-m/%Y") %> </td>
		<td> <%= link_to "Edit", edit_reference_path(cur) %> </td>
		<td> <%= link_to "Delete", cur, method: :delete, data: {confirm: "Are you sure?" } %> </td>
	</tr>
	<% end %>
	<% end %>
	</tbody>		

</table>

<h3> Create New Reference </h3>
<%= render "references/form" %>
<br>
<br>
<%= link_to "Show all topics", topics_path %>
</html>
<body>
