
<p>
  <%= image_tag root_url + "/images/" + @image.filename %>
</p>

<p>
  <strong>User:</strong>
  <%= @image.user.name %>
</p>

<p>
  <strong>Private:</strong>
  <%= @image.private %>
  <% if @image.user == current_user %>
    <% if @image.private == false %>
      <%= form_for(@image) do |f| %>
        <%= f.hidden_field :private, :value => "true" %>
        <%= f.submit "Make Private" %>
      <% end %>
    <% else %>
      <%= form_for(@image) do |f| %>
        <%= f.hidden_field :private, :value => "false" %>
        <%= f.submit "Make Public" %>
      <% end %>
    <% end %>

  <% end %>
</p>

<p>
  <strong>Tags:</strong>
  <br>
  <% @tags.each do |tag| %>
    <% if !tag.new_record? %>
      <%= tag.str %>
      <% if @image.user == current_user %>
        <%= link_to "edit", edit_tag_path(tag) %>
        <%= link_to "Delete", tag, method: :delete, data: {confirm: "Are you sure?" } %>
      <% end %>
      <br>
    <% end %>
  <% end %>
</p>

<% if @image.user == current_user %>
  <p>
    <strong>Add new tag</strong>
    <%= render "tags/form" %>
  </p>
<% end %>

<% if @image.private && @image.user == current_user %>
  <strong> Users that have access to this image </strong> <br>
    <% @shared.each do |user| %>
      <% if !user.new_record? && user.user %>
        <%= user.user.name %>
        <%= link_to "Delete", user, method: :delete, data: {confirm: "Are you sure?" } %>
        <br>
      <% end %>
    <% end %>
  <br>
  <strong> Allow access to new user </strong>
  <%= form_for [@image, @new ] do |f| %>
    <%= f.collection_select(:user_id, @not_shared, :id, :info) %>
    <%= f.submit "Allow access"%>
  <% end %>
<% end %>

<%= link_to 'Back', images_path %>
