<p id="notice"><%= notice %></p>

<p>
  <%= image_tag root_url + "/images/" + @image.filename %>
</p>

<p>
  <strong>User:</strong>
  <%= @image.user.name %>
</p>

<p>
  <strong>Private:</strong>
  <%= @image.private %>
</p>

<p>
  <strong>Tags:</strong>
  <br>
  <% @tags.each do |tag| %>
    <% if !tag.new_record? %>
      <%= tag.str %>
      <%= link_to "edit", edit_tag_path(tag) %>
      <%= link_to "Delete", tag, method: :delete, data: {confirm: "Are you sure?" } %>
      <br>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Add new tag</strong>
  <%= render "tags/form" %>
</p>

  <strong> Users that have access to this image </strong> <br>
  <% @shared.each do |user| %>
    <% if !user.new_record? && user %>
      <%= user.user.name %>
      <%= link_to "Delete", user, method: :delete, data: {confirm: "Are you sure?" } %>
      <br>
    <% end %>
  <% end %>
  <br>
  <strong> Allow access to new user </strong>
  <%= form_for [@image, @new ] do |f| %>
    <%= f.collection_select(:user_id, @not_shared, :id, :info) %>
    <%= f.submit "Allow access"%>
  <% end %>
    

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
