<h2> All Open Reservations </h2>

<% if @open == nil %>
  <h2> No reservations remaning! </h2>
<% else %>
  <% @open.each do |cur| %>
    <% if cur %>
      <strong><%= cur.start.strftime("%B %d, %Y") %> </strong>
      <br>
    <% end %>
  <% end %>
<% end %>

<% if current_user && current_user.admin == true  && @closed != nil%>
  <h2> Closed Reservations </h2>
  <% @closed.each do |cur| %>
    <% if cur %>
      <strong> <%= cur.start.strftime("%B %d, %Y") %> <br>
      user: <%=  cur.user.name %>  <br>
      people: <%= cur.people %><br>
      pheasent: <%= cur.pheasent  %> <br>
      dove: <%= cur.dove %> <br> <br> </strong>
    <% end %>
  <% end %>
<% end %>
